<?xml version="1.0"?>
<config>
    <modules>
        <Elgentos_TurpentineExtended>
            <version>1.0.0</version>
        </Elgentos_TurpentineExtended>
    </modules>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <turpentineextended translate="title" module="turpentineextended">
                                            <title>TurpentineExtended</title>
                                        </turpentineextended>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Elgentos_TurpentineExtended>
                    <files>
                        <default>Elgentos_TurpentineExtended.csv</default>
                    </files>
                </Elgentos_TurpentineExtended>
            </modules>
        </translate>
    </frontend>
    <global>
        <events>
            <catalog_product_save_commit_after>
                <observers>
                    <elgentos_turpentineextended_ban_category_cache>
                        <class>turpentineextended/observer</class>
                        <method>banCategoryCache</method>
                    </elgentos_turpentineextended_ban_category_cache>
                </observers>
            </catalog_product_save_commit_after>
        </events>
        <!--blocks>
            <turpentineextended>
                <class>Elgentos_TurpentineExtended_Block</class>
            </turpentineextended>
        </blocks-->
        <models>
            <turpentineextended>
                <class>Elgentos_TurpentineExtended_Model</class>
            </turpentineextended>
        </models>
        <helpers>
            <turpentineextended>
                <class>Elgentos_TurpentineExtended_Helper</class>
            </turpentineextended>
        </helpers>
    </global>
</config>
